
<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Welcome to My Notes</mat-card-title>
        <br>
      </mat-card-header>
  

        <button mat-stroked-button color="accent" class="btn-block" routerLink="/login">Login Here</button>
        <br>
        <br>
        <button mat-stroked-button color="accent" class="btn-block" routerLink="/register">Register Here</button>

  
    </mat-card>
  </div>




  <!--
<h1>Welcome to "My Notes"</h1>

<div class="example-button-row">
<button mat-raised-button color="primary" routerLink="/register"> Register </button>
<button mat-raised-button color="primary" routerLink="/login">Login</button>
</div>
-->