<div class="main-div">
  <button type="submit" mat-raised-button color="primary" (click)="view()">
    View Notes
  </button>
  <br/> <br/>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let note of notes">
        <td>{{ note.subject }}</td>
        <td>{{ note.title }}</td>
        <td>{{ note.content }}</td>
      </tr>
    </tbody>
  </table>
  
</div>
