.main-div {
  margin: auto;
  width: 50%;
  margin-top: 100px;
  position: fixed;
  //padding-left: 300px;
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

tr:nth-of-type(odd) {  // Zebra Stripping
  background: #eee;
}
