<!--
<div class="main-div">
  <div class="notecontainer">
    <form [formGroup]="addNote" (ngSubmit)="search(1)">
      <mat-form-field appearance="fill">
        <mat-label>Enter Title to Find</mat-label>
        <input matInput type="text" name="text" formControlName="id" />
      </mat-form-field>
      <br /><br />
  <button type="submit" mat-raised-button color="primary">Find Note</button>
-->

<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Search You Note</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="addNote" (ngSubmit)="search(1)">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Note Id" type="text" name="text" formControlName="id">
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Search</button>

    </form>
  </mat-card>
</div>

<div *ngIf="notes.length>0" id="tablee">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <!-- {{notes | json}} -->
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let note of notes">
        <td>{{ note.subject }}</td>
        <td>{{ note.title }}</td>
        <td>{{ note.content }}</td>
      </tr>
    </tbody>
  </table>
</div>
    
